<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Competition</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>

<body>
<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" th:href="@{/main}">Main Page</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/profile}">Profile</a>
                    </li>
                    <li>
                        <a th:href="@{/admin_competitions}">Competitions</a>
                    </li>
                    <li>
                        <a th:href="@{/tasks}">Tasks</a>
                    </li>
                </ul>
                <a th:href="@{/logout}" class="logout">Logout</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/competition_add}"
              method="POST" role="form">
            <fieldset>

                <!-- Form Name -->
                <legend>Competition</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="competition_name">Competition Name</label>
                    <div class="col-md-5">
                        <input id="competition_name" th:field="${competition.name}" placeholder="Competition Name"
                               class="form-control input-md"
                               type="text" tabindex="1" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="deadline">Expected Deadline</label>
                    <div class="col-md-4">
                        <input id="deadline" th:field="${competition.due_date}" placeholder="Due Date"
                               class="form-control input-md"
                               type="datetime-local" tabindex="2">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="competition_users">Users</label>
                    <div class="col-md-4">
                        <select id="competition_users" th:field="${competition.users}" multiple class="form-control"
                                size="5" required tabindex="3">
                            <option th:each="user : ${allUsers}"
                                    th:text="${user.name}"
                                    th:value="${user.email}">
                            </option>
                        </select>
                    </div>
                    <input type="button" name="Button" id="select_all_users" value="Select All"/>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="elementary_tasks">Elementary Tasks</label>
                    <div class="col-md-4">
                        <select id="elementary_tasks" th:field="${competition.tasks}" multiple class="form-control"
                                size="5" tabindex="4">
                            <option th:each="task : ${elementary_tasks}"
                                    th:text="${task.name}"
                                    th:value="${task.id}">
                            </option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label" for="average_tasks">Average Tasks</label>
                    <div class="col-md-4">
                        <select id="average_tasks" th:field="${competition.tasks}" multiple class="form-control"
                                size="5"
                                tabindex="5">
                            <option th:each="task : ${average_tasks}"
                                    th:text="${task.name}"
                                    th:value="${task.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="heavy_tasks">Heavy Tasks</label>
                    <div class="col-md-4">
                        <select id="heavy_tasks" th:field="${competition.tasks}" multiple class="form-control" size="5"
                                tabindex="6">
                            <option th:each="task : ${heavy_tasks}"
                                    th:text="${task.name}"
                                    th:value="${task.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="submit"></label>
                    <div class="col-md-4 adding_buttons">
                        <button id="submit" name="submit" class="btn btn-success" tabindex="7">Add</button>
                        <button class="btn btn-primary" value="Cancel" type="reset">Cancel</button>
                        <a class="btn btn-default" th:href="@{/admin_competitions}">Back</a>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>

<script>
    $('#select_all_users').click(function () {
        $('#competition_users').find('option').prop('selected', true);
    });
</script>

</body>
</html>