<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitions</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="panel panel-default">

    <div class="container">

        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/main}">Main Page</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a th:href="@{/profile}">Personal Page</a>
                            </li>
                            <li>
                                <a th:href="@{/single/elem/1}">Single programming</a>
                            </li>
                            <li>
                                <a th:href="@{/multi/elem/1}">Multiprogramming</a>
                            </li>
                            <li>
                                <a th:href="@{/competitions}">Competition</a>
                            </li>
                        </ul>
                        <a th:href="@{/logout}" class="logout">Logout</a>
                    </div>
                </div>
            </nav>

            <div class="panel-heading rating">Competitions</div>

            <!-- Table -->
            <table class="table user_table">
                <tr class="title_tr">
                    <th>№</th>
                    <th>Name</th>
                    <th>Due date</th>
                    <th>Participated</th>
                    <th>Passed Test</th>
                    <!--<th>My Time</th>-->
                    <th>Start Competition</th>
                </tr>
                <tr th:each="competition,iter : ${competitions}">
                    <td th:text="${iter.index}+1"></td>
                    <td th:text="${competition.key.name}"></td>
                    <td th:text="${competition.key.due_date}">></td>
                    <td th:text="${competition.value.complete}"></td>
                    <td>1</td>
                    <!--<td th:text="${competition.value.time}"></td>-->
                    <td style="width: 50%"><a th:href="@{/competition/} + ${competition.key.id}"
                                              class="btn btn-default">Start</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>