<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Page">
    <meta name="author" content="Mike Barskiy">

    <title>Personal Page</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" th:href="@{/main}">Main Page</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/profile}">Personal Page</a>
                </li>
                <li>
                    <a th:href="@{/single/elem/1}">Single programming</a>
                </li>
                <li>
                    <a th:href="@{/multi/elem/1}">Multiprogramming</a>
                </li>
            </ul>
            <a th:href="@{/logout}" class="logout">Logout</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin: 10px 0 15px 0">Personal Page of
                <a th:href="@{/profile}" style="color:#a33b3b">
                    <span th:utext="${userName}"></span>
                </a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item" style="width:33%">
            <a th:href="@{/single/elem/1}">
                <img class="img-responsive" th:src="@{/images/single.png}" alt="Single programming">

                <h3>
                    <a href="#">Single programming</a>
                </h3>
            </a>
            <p>In this section you can train to solve different tasks alone</p>
        </div>
        <div class="col-md-6 portfolio-item" style="width:33%">
            <a th:href="@{/multi/elem/1}">
                <img class="img-responsive" th:src="@{/images/team.png}" alt="Multiprogramming">
            </a>
            <h3>
                <a href="#">Multiprogramming</a>
            </h3>
            <p>In this section you can solve problems with your friend at the same time</p>
        </div>
        <div class="col-md-6 portfolio-item" style="width:33%">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Competition</a>
            </h3>
            <p>In this section you can compete with your friend who will solve the problem faster</p>
        </div>
    </div>

</div>

</body>
</html>
