<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mike Barskiy">

    <title>Single programming</title>

    <style type="text/css" media="screen">

    </style>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Elementary</a>
                </li>
                <li>
                    <a href="#">Average</a>
                </li>
                <li>
                    <a href="#">Heavy Level</a>
                </li>
            </ul>
            <a th:href="@{/logout}" class="logout">Logout</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3" style="width: 20%">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>

        <div class="col-md-9" style="width: 60%">
            <div id="editor">public static void main(Srtring[] args){
                }
            </div>
        </div>

        <div class="col-md-3" style="width: 20%">
            <div id="task" style="border:1px solid black; height: 200px;">

            </div>
            <button type="button" class="btn btn-default" style="margin-top: 10px;width: 100%">Compile</button>
        </div>
    </div>
</div>
<!-- /.container -->

<script th:src="@{/ace-builds/src/ace.js}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/java");
    editor.setOptions({
        enableBasicAutocompletion: true
    });
</script>

</body>

</html>
