<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mike Barskiy">

    <title>Single programming</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>

    <script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/code.js}"></script>
</head>

<body>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" th:href="@{/main}">Main Page</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/single/elem/1}">Elementary</a>
                </li>
                <li>
                    <a th:href="@{/single/aver/1}">Average</a>
                </li>
                <li>
                    <a th:href="@{/single/heavy/1}">Heavy Level</a>
                </li>
            </ul>
            <a th:href="@{/logout}" class="logout">Log Out</a>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3" style="width: 20%" th:object="${task}">
            <p class="lead" th:text="${task.name}"></p>
            <div class="list-group">
                <a th:href="@{/single/elem/1}" class="list-group-item">Exercise №1</a>
                <a th:href="@{/single/elem/2}" class="list-group-item">Exercise №2</a>
                <a th:href="@{/single/elem/3}" class="list-group-item">Exercise №3</a>
            </div>
        </div>

        <div class="col-md-9" style="width: 55%">
            <div id="editor">public class UserClass {
    public int result(int input) {

    }
}
            </div>
            <div id="compile_error">
                <h5>Compilation Errors</h5>
                <hr/>
                <div id="user_error">

                </div>
            </div>
        </div>

        <div class="col-md-3" style="width: 25%">
            <div class="taskbar">
                <p th:text="${task.description}"></p>
                <!--<p>Входные данные</p>-->
                <!--<p>Вводится трехзначное число.</p>-->

                <!--<p>Выходные данные</p>-->
                <!--<p>Выведите ответ на задачу.</p>-->
                <p>Example:</p>
                <p>Input parameter:</p>
                <h4 th:text="${task.input}"></h4>
                <p>Output parameter:</p>
                <h4 th:text="${task.output}"></h4>
            </div>
            <button id="resultCodeSingle" type="button" class="btn btn-default checkbutton">Compile</button>
            <div>
                <ul class="list-group" id="resultgroup" style="visibility: hidden">
                    <li class="list-group-item" id="test_1">
                        Test №1
                    </li>
                    <li class="list-group-item" id="test_2">
                        Test №2
                    </li>
                    <li class="list-group-item" id="test_3">
                        Test №3
                    </li>
                    <li class="list-group-item" id="test_4">
                        Test №4
                    </li>
                    <li class="list-group-item" id="test_5">
                        Test №5
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/ace-builds/src/ace.js}" type="text/javascript" charset="utf-8"></script>
<script>
    document.getElementById('editor').style.fontSize = '14px';
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/java");
</script>

</body>
</html>
