<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="panel panel-default">

    <div class="container">

        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/main}">Main Page</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a th:href="@{/profile}">Profile</a>
                            </li>
                            <li>
                                <a th:href="@{/admin_competitions}">Competitions</a>
                            </li>
                            <li>
                                <a th:href="@{/tasks}">Tasks</a>
                            </li>
                        </ul>
                        <a th:href="@{/logout}" class="logout">Log Out</a>
                    </div>
                </div>
            </nav>

            <div class="panel-heading rating">Tasks</div>

            <!-- Table -->
            <table class="table user_table">
                <tr class="title_tr">
                    <th>№</th>
                    <th>Name</th>
                    <th class="break_description">Description</th>
                    <th>Level</th>
                    <th id="task_add"><a th:href="@{/task_add}" class="btn btn-success">Add</a></th>
                </tr>
                <tr th:each="task,iter : ${tasks}">
                    <td th:text="${iter.index}+1"></td>
                    <td th:text="${task.name}"></td>
                    <td class="break_description"><p th:text="${task.description}"></p></td>
                    <td th:text="${task.getLevels().iterator().next().getLevel().toLowerCase()}"></td>
                    <!--<td><a class="btn btn-default">Profile</a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>