html {
    overflow: hidden;
}

body {
    padding-top: 70px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

body {
    height: 100%;
    background-color: rgb(245, 245, 245);
}

#mainWrapper {
    height: 100%;
    background-image: -webkit-gradient(
            linear,
            right bottom,
            right top,
            color-stop(0, #EDEDED),
            color-stop(0.08, #EAEAEA),
            color-stop(1, #2F2F2F),
            color-stop(1, #AAAAAA)
    );
    background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.has-error {
    color: red;
}

.generic-container {
    position: fixed;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

#mainWrapper {
    height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-form {
    padding: 10%;
}

.logout {
    color: #999;
    font-size: 16px;
    float: right;
    padding-top: 13px;
    padding-right: 10px;
}

.logout:hover {
    color: white;
    text-decoration: none;
}

.portfolio-item {
    text-align: center;
    margin-bottom: 25px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#editor {
    height: 520px;
    border: 1px solid black;
}

.validation-message {
    text-align: center;
    font-style: normal;
    color: rgba(255, 28, 25, 0.83);
}

#bglogin {
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('../images/bg.jpeg')
}

#timer {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: red;
    border-radius: 5px;
    font-weight: bold;
}

.checkbutton {
    margin-top: 10px;
    width: 100%
}

.taskbar {
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
    height: 250px;
    padding: 10px;
}

#resultgroup {
    margin-top: 10px;
}

#resultgroup li {
    font-weight: bold;
    padding: 5px 15px;
}

.readonly-highlight {
    background-color: white;
    opacity: 0.2;
    position: absolute;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

#spam {
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    width: 85%;
    cursor: not-allowed;
    text-decoration: none;
}

#access_error403 {
    padding-top: 30px;
    font-size: 60px;
    font-family: Arial, serif;
    text-align: center;
    border-bottom: 1px dashed #333;
    padding-bottom: 20px;
}

#gears {
    text-align: center;
    color: #333;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    /* opacity: 0.85; */
    padding: 30px 0;
}